 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 *{
    font-family: 'Work Sans', sans-serif;
 }

 .section-header{
 
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.section-pragraph{
color: #727272;
font-size: 1rem;
font-weight: 400;
}
.section-button{
color: #FFF;
padding: 15px 20px;
font-size: 1rem;
font-weight: 600;
border-radius: 8px;
background: #FF900E;
border: none;
margin: 20px auto;
}
/*header section start*/
header{
    background-color:#ff900e1a;
    padding: 50px 240px;
}

.nav-arcitect{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav > ul {
    display: flex;
}
nav  li {
     list-style: none;
     margin-right: 20px;
    font: size 1rem;
    font-weight: 500;


}
nav a{
    text-decoration: none;
    color: #424242;
}

.text-div{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  
    
}
.brand-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
    
}
.header-img{
    width: 100%;
}
/*header section end*/
/*main section start*/
.main{
    max-width: 1440px;
    margin: 0 auto;
}
/*Features section start*/

.Features-div{
    display: flex;
    text-align: center;
    align-items: center;
  margin: 20px 240px;

}
.Features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
    
    
}

.images{
    width: 180px;
    
}

.Features-text{
   padding-left: 70px;
   
}

.Features-title{
    font-size: 2rem;
}

.quick{
    color:  #727272;
    font-weight: 500;
}
.Features , .of-our{
    color: #131313;
    font-weight: 700;
}
.Features{
    color: #FF900E;
}


@media screen and (max-width:576px)  {
    header{
            padding: 20px;
    }
    .nav-arcitect{

        flex-direction: column;
    }
    .Features-div{
        flex-direction: column;
       
    }
    .Features-img{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin-right: 80px;
        text-align: center;
    
        
    }
    .Features-text{
        margin-right: 100px;
        text-align: center;
    }
}


@media screen and (min-width:577px) and (max-width:960px) {
    header{
       padding: 50px;
    }
    .nav-arcitect{

        flex-direction: column;
    }
    .Features-div{
        flex-direction: column;
       
    }
}
        
